<div class="form-group">
              <label for="username">Username</label>
              <input
                type="text"
                class="form-control"
                id="username"
                placeholder="username"
                name="username"
              />
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="email"
                name="email"
              />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="password"
                name="password"
              />
            </div>
            <div class="form-group">
              <label for="re_password">Re-Password</label>
              <input
                type="password"
                class="form-control"
                id="re_password"
                placeholder="re_password"
                name="re_password"
              />
            </div>